body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

.login-container {
  margin-top: 100px;
}

.chat-container {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chat-header {
  margin-bottom: 20px;
}

.room-name {
  margin: 0;
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.chat-form {
  display: flex;
}

#msg {
  flex: 1;
  margin-right: 10px;
}

.private-message-form {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#private-form input[type="text"],
#private-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc !important;
    border-radius: 3px;
}

#send-private {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

#send-private:hover {
  background-color: #0056b3;
}

.users-container {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-header {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .chat-container {
      margin-top: 10px;
  }
  .chat-messages {
      height: 200px;
  }
  .users-container {
      margin-top: 10px;
  }
}
